.container {
  background-color: white;
  padding: 10px;
}


.header {
  background-color: #53d5eb;
  padding: 30px;
  margin-bottom: 10px;
}

.footer {
  background-color: #ffa502;
  padding: 20px;
  margin-top: 10px;
}


.content {
  display: flex;
  margin-bottom: 10px;
}

.left {
  flex: 1;
  margin-right: 10px;
}

.right {
  flex: 2;
}


.hero {
  background-color: #cfc6d6;
  padding: 30px;
  height: 400px;
  margin-bottom: 10px;
}

.sidebar {
  background-color: #8ab82d;
  padding: 30px;
  height: 500px;
}


.m_content {
  background-color: #f6c344;
  padding: 30px;
  height: 600px;
  margin-bottom: 10px;
}

.e_content {
  background-color: #808080;
  padding: 30px;
  height: 300px;
}


.related_section {
  display: flex;
  margin: 10px 0;
}

.r_images {
  flex: 3;
  background-color: #2ab275;
  padding: 30px;
  margin-right: 10px;
  height: 150px;
}

.r_posts {
  flex: 1;
  background-color: #f8c8dc;
  padding: 30px;
  height: 150px;
}